<ons-page ng-controller="PlaceListCtrl">
	<ons-toolbar>
		<ons-toolbar-button
			class="right"
			ng-click="appSys.menu.toggleMenu()">
			<ons-icon icon="ion-navicon"></ons-icon>
		</ons-toolbar-button>
		<div class="center text-center">Manage places</div>
	</ons-toolbar>

	<h3>My places</h3>
	<ons-list>
		<ons-list-item
			ng-repeat="place in myPlaces"
			ng-click="pressed(place, $index)"
			on-long-press="longPressed($index)"
		>
			<ons-row>
				<ons-col width="4px"></ons-col>
				<ons-col width="44px" class="text-center" ng-show="isManageMode()">
					<ons-input type="checkbox" ng-model="selectedItems[$index]"></ons-input>
				</ons-col>
				<ons-col width="15%" class="text-center">
					<i class="zmdi-hc-lg {{ getIcon(place) }}"></i>
				</ons-col>
				<ons-col>
					{{ place.title }}
				</ons-col>
				<ons-col width="10%">
					{{ place.badge }}
				</ons-col>
			</ons-row>
		</ons-list-item>
	</ons-list>

	<ons-bottom-toolbar ng-show="isManageMode()">

		<ons-row class="bottom-bar__line-height">
			<ons-col width="1px"></ons-col>
			<ons-col></ons-col>
			<ons-col width="1px" class="item-primary"></ons-col>
			<ons-col width="44px" class="text-center"  ng-click="deleteSelected()">
				<i class="zmdi zmdi-hc-lg zmdi-delete"></i>
			</ons-col>
			<ons-col width="1px" class="item-primary"></ons-col>
			<ons-col width="44px" class="text-center"  ng-click="selectAll()" ng-hide="allSelected()">
				<i class="zmdi zmdi-hc-lg zmdi-select-all"></i>
			</ons-col>
			<ons-col width="44px" class="text-center"  ng-click="deselectAll()" ng-show="allSelected()">
				<i class="zmdi zmdi-hc-lg zmdi-close-circle-o"></i>
			</ons-col>
			<ons-col width="1px" class="item-primary"></ons-col>
		</ons-row>
	</ons-bottom-toolbar>
</ons-page>
