<ons-page ng-controller="PlaceFormCtrl">
	<ons-toolbar>
		<div class="left">
			<ons-back-button>Back</ons-back-button>
		</div>
		<div class="center"><i class="{{ type.dataItem.icon }}"></i> {{ shadow.title }}</div>
	</ons-toolbar>

	<ons-list modifier="inset noborder" ng-show="canEdit()">
		<ons-list-header dir="auto" ng-show="canEdit()">
			{{ action | titlecase }}
		</ons-list-header>
		<ons-list-item modifier="nodivider">
			<ons-row>
				<ons-col width="20%" style="position: relative;">
					<i class="zmdi-hc-2x zmdi-hc-border {{ type.dataItem.icon || defaultIcon }}"></i>
					<!-- <ons-icon icon="fa-caret-down" size="lg"></ons-icon> -->
					<select class="fill-parent glass" ng-model="type.dataItem" ng-options="item.name for item in type.items" ng-change="changeIcon()"></select>
				</ons-col>
				<ons-col>
					<ons-input ng-model="shadow.title" placeholder="Title" modifier="material" float></ons-input>
				</ons-col>
			</ons-row>
		</ons-list-item>

		<ons-list-item modifier="nodivider">
			<ons-col width="44px" class="text-center">
				<i class="ion-pin zmdi-hc-2x"></i>
			</ons-col>
			<ons-col width="2%"></ons-col>
			<ons-col>
				<ons-row>
					<div dir="auto" class="text-justified">Latitude {{ shadow.latLng.lat | number : 3 }}</div>
				</ons-row>
				<ons-row>
					<div dir="auto" class="text-justified">Longitude {{ shadow.latLng.lng | number : 3 }}</div>
				</ons-row>
			</ons-col>
			<ons-col width="1em"></ons-col>
		</ons-list-item>

		<ons-list-item modifier="nodivider">
			<ons-col>
				<textarea
					class="textarea textarea--transparent"
					modifier="material"
					placeholder="Address"
					float

					ng-model="shadow.address"
				></textarea>
			</ons-col>
			<ons-col width="44px" ng-click="getAddress()">
				<i class="zmdi zmdi-hc-2x zmdi-label"></i>
			</ons-col>
		</ons-list-item>
		<ons-list-item modifier="nodivider"></ons-list-item>
	</ons-list>

	<ons-list ng-hide="canEdit()">

		<ons-list-header dir="auto" ng-show="canEdit()">
			{{ action | titlecase }}
		</ons-list-header>

		<ons-list-item modifier="nodivider">
			<ons-col width="44px" class="text-center">
				<i class="zmdi-hc-2x {{ type.dataItem.icon || defaultIcon }}"></i>
			</ons-col>
			<ons-col width="2%"></ons-col>
			<ons-col>
				<div dir="auto" class="text-justified">{{ shadow.title }}</div>
			</ons-col>
			<ons-col width="10%"></ons-col>
		</ons-list-item>

		<ons-list-item modifier="nodivider">
			<ons-col width="44px" class="text-center">
				<i class="fa fa-map-signs fa-2x"></i>
			</ons-col>
			<ons-col width="2%"></ons-col>
			<ons-col>
				<div dir="auto" class="break-word text-justified">{{ shadow.address }}</div>
			</ons-col>
			<ons-col width="10%"></ons-col>
		</ons-list-item>

		<ons-list-item modifier="nodivider">
			<ons-col width="44px" class="text-center">
				<i class="ion-pin zmdi-hc-2x"></i>
			</ons-col>
			<ons-col width="2%"></ons-col>
			<ons-col>
				<ons-row>
					<div dir="auto" class="text-justified">Latitude {{ shadow.latLng.lat | number : 3 }}</div>
				</ons-row>
				<ons-row>
					<div dir="auto" class="text-justified">Longitude {{ shadow.latLng.lng | number : 3 }}</div>
				</ons-row>
			</ons-col>
			<ons-col width="1em"></ons-col>
			<ons-col width="3em" class="text-center" ng-click="showOnMap()">
				<i class="zmdi-hc-2x zmdi zmdi-map"></i>
				<!-- <i class="zmdi-hc-2x zmdi zmdi-google-maps"></i> -->
			</ons-col>
			<ons-col width="1em"></ons-col>
		</ons-list-item>
	</ons-list>

	<ons-fab ng-click="edit()" ng-hide="canEdit()" position="bottom right" ripple>
		<ons-icon icon="ion-edit"></ons-icon>
	</ons-fab>

	<ons-bottom-toolbar ng-show="canEdit()">

		<ons-row class="bottom-bar__line-height">
			<ons-col width="1px" class="item-primary"></ons-col>
			<ons-col class="text-center text-danger frame-danger-light"  ng-click="cancel()">
				<i class="zmdi-hc-lg ion-android-close"></i>
			</ons-col>
			<ons-col width="1px" class="item-primary"></ons-col>
			<ons-col class="text-center item-success-click frame-success-light" ng-click="save()">
				<i class="ion-android-done"></i>
			</ons-col>
			<ons-col width="1px" class="item-primary"></ons-col>
		</ons-row>
	</ons-bottom-toolbar>

</ons-page>
